    
    <!-- Footer Start -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
               
      <div class="col-md-4 text-left">
       <p><span><a href="#about" class="smoth-scroll">About Me</a></span> | <span><a href="/work" class="smoth-scroll">Geekuy</a></span></p>
          </div>
               
            <div class="col-md-4 text-center">
                <a href="https://github.com/shindeabhi27" target="_blank" class="github"><i class="fa fa-github"></i></a>
                 <a href="https://www.linkedin.com/in/abhishek-shinde-606098193/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
               </div>

            
             
              
             <div class="col-md-4 uipasta-credit text-right">
                <p>Design By <a href="http://www.uipasta.com" target="_blank" title="UiPasta">UiPasta</a></p>
                </div>
                
             </div>
        </div>
    </footer>
    <!-- Footer End -->
    