{{> header}}


    
    <!-- About Start -->
    <section id="about" class="about-section" style="background-color: #000; color:white">
         <div class="row">
               
              <div class="col-md-6 col-sm-12 col-xs-12">
                <img class="img-responsive" src="images/bg/pp.jpg" draggable="false" alt="">
              </div>
                
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-me section-space-padding">
                  
                  <h2>About Me.</h2>
                  
                  <p>Ambitious student pursuing Computer Programmer degree eager to contribute developed knowledge in Software Developer role. Fluent in software fundamentals including software design, code modularity and maintaining. Remains engaged, proactive and positive in tough circumstances, and taking full accountability for overall team success. Adaptable and driven with strong work ethic and ability to thrive in team- based or individually motivated settings.</p>
                 </div>
             
              </div>
                
          </div>
       </section>
       <!-- About End -->

    
{{> footer}}
