
{{> header}}


    
    <!-- Contact Start -->
    <section id="contact" class="contact-us section-space-padding" style="background-color: black;">
       <div class="container">
          <div class="row">
                <div class="col-sm-12">
                    <div class="section-title" style="color: white;">
                        <h2>Contact Me.</h2>
                        <p>Be free to mention your thoughts in the comment section.!</p>
                    </div>
                </div>
            </div>
            
            
           <div class="text-center margin-top-10 margin-bottom-50">
            <div class="row">
            
               <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">  
                 <i class="fa fa-mobile color-6"></i>
                  <p><a href="tel:+12495350496">+1 249 535 0496</a></p>
                 </div>
                </div>
               
               <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">
                 <i class="fa fa-mail-reply color-5"></i>
                  <p><a href="mailto:shindeabhishek2703@gmail.com">shindeabhishek2703@gmail.com</a></p>
                 </div>
                </div>
                 
               <div class="col-md-4 col-sm-4">
                <div class="contact-us-detail">
                 <i class="fa fa-clock-o color-3"></i>
                  <p>Mon - Fri 11:00 – 19:00</p>
                 </div>
                </div>
              
               </div>
              </div>
            
         
         <div class="row">
           
           <div class="col-md-12">   
                 
               <div class="row">
                  <form>
                    
					  <div class="col-sm-6">
						<div class="form-group">
						  <input type="text" id="name" class="form-control" placeholder="Your Name">
						 </div>
                        </div>
								
                       <div class="col-sm-6">
					    <div class="form-group">
						 <input type="email" id="email" class="form-control" placeholder="Your Email">
						 </div>
                        </div>
                        
                        <div class="col-sm-6">
						  <div class="form-group">
							<input type="text" id="website" class="form-control" placeholder="Your Website">
						   </div>
                          </div>
                          
                        <div class="col-sm-6">
						  <div class="form-group">
							<input type="text" id="address" class="form-control" placeholder="Where are You From?">
						   </div>
                          </div>
								
                         <div class="col-sm-12">
						  <select id="subject" class="form-group form-control">
							<option value="" selected disabled>Subject</option>
							<option>Website Design & Development</option>
							<option>Wordpress Development</option>
                            <option>Mobile Website</option>
                            <option>Other</option>
						   </select>
                          </div>
								
                       <div class="col-sm-12">
					    <div class="textarea-message form-group">
					      <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
						  </div>
                         </div>
                   
                   
                    <div class="text-center">      
		   <button type="submit" class="button button-style button-style-dark button-style-icon fa fa-long-arrow-right text-center">Submit</button>
	                  </div>
                       
                  </form>
                   
				</div>
               </div>
            
            
    
           
        
        </div>
       </div>
       
      <div class="margin-top-80"> 
       <ul class="social-icon">
        
  
     

       </ul>
      </div>
       
     </section>
     <!-- Contact End -->
       
       

{{> footer}}


