{{> header}}
    
    

    <!-- Portfolio Start -->
    <section id="portfolio" class="portfolio section-space-padding" style="background-color: black; color:gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>My Portfolio.</h2>
                        <p>Here are the projects done by me</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <ul class="portfolio" style="color: gray;">
                    <li class="filter" data-filter="all">all</li>
                </ul>
            </div>
            
      
                <div class="row">
                
                
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="images/portfolio/javascript1.png" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/javascript1.png">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
                        <div class="item">
                            <a href="images/portfolio/javascript2.png" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/javascript2.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="images/portfolio/johnson.png" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/johnson.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="text-center margin-top-50" >
          <a class="button button-style button-style-light button-style-icon fa fa-long-arrow-right smoth-scroll" href="/contactus" >Let's Discuss</a>
            </div>
     
     </section>
    <!-- Portfolio End -->
    
    
    



{{> footer}}




